body a {
    text-decoration: none;
    color: black;
}



sidebar {
    overflow-y: auto; 
    width: 300px;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
    padding-top:  20px;
    background-color: rgba(99, 9, 9, 0.308);;
    
}
.menu > ul{
    list-style-type: none;
    font-weight: regular;
    padding: 0px;
}
.menu > ul li {
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu ul li svg{
    color:rgb(99, 9, 9);
    font-size: 25px;
}

.menu ul li a {
    margin-left: 15px;
}
.menu ul li a:hover{
    color:rgb(99, 9, 9)
}
.menu ul li:hover{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.295);
}

.selected {
    background-color: rgb(255, 255, 255);
}
.selected a {
    color: black;
}
.sidebar-logout {
    display: none;
}

@media screen and (max-width:768px) {
    sidebar {
       position: absolute;
       left: -300px;
       top: 10%;
       transition: 0.3s;
       z-index: 2;
       background-color: rgb(219, 209, 209);
}
.sidebar-logout {
    display: block;
}
}