header{
    display: flex;
    flex-direction: row; 
    width: 100%; 
    height: 10%;
    padding: 5px 20px;
    background-color: rgba(197, 197, 197, 0.274);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.185);
}
div.header {
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
}

.header svg {
 color: rgb(99, 9, 9);
}

.header a:hover{
    color: rgb(99, 9, 9);
}

.header-title{
    display: flex;
    align-items: center;
    width: 40%;
}
.header-title img {
    width: 18%;
    padding-right: 10px;
}
.header-title h2{
    font-size: 15px;
    font-weight: bold;
}

.header .fa-bars{
    font-size: 20px;
    cursor: pointer;
}


@media screen and (max-width:901px){
    .header-title img {
        width: 30%;
        padding-right: 10px;
    }
    .header-title h2{
        font-size: 15px;
        font-weight: bold;
    }

 }
 @media screen and (max-width:768px){
    .header-title img {
        width: 30%;
        padding-right: 5px;
    }
    .header-title h2{
        font-size: 15px;
        font-weight: bold;
        padding-right: 3px;
    }
    .header a {
        display: none;
    }
 }
